@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-tap-highlight-color: transparent;
  list-style-type: none;
}
*::selection{
  background-color: rgb(207, 98, 98);
  color: white;
}
body{
  height: 100vh;
  width: 100%;
}
main{
  height: 100%;
  margin-top: 300px;
}

main ul{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
main ul h1{
  font-size: 4rem;
}
main ul li{
  position: relative;
  margin-right: 0;
  transition: .4s;
}
.box{
  overflow: hidden;
  display: inline;
  position: absolute;
  height: 100px;
  width: 400px;
}
main ul span{
  position: absolute;
  font-size: 3rem;
  margin-top: 17px;
  opacity: 0;
  transform: translate3d(-200px, 0, 0);
  transition: .6s;
}
.span{
 opacity: 1; 
 transform: translate3d(0px, 0, 0);
}
.span::after{
  content: '';
  display: block;
  height: 2px;
  width: 50%;
  background-color: orangered;
}
.selected{
  margin-right: 200px;
  opacity: 1;
}

[data-scroll="left"]{

}
[data-scroll="right"]{

}

aside{
  height: 400px;
  width: 100%;
}